{{#ui-accordion class="styled"}}
  <div class="title">
    <i class="calendar icon"></i>
    New event
  </div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Event type</label>
        <div class="ui buttons">
          {{#each eventTypes as | eventType |}}
            <button class={{if (eq eventType selectedEventType) "ui button primary" "ui button"}} {{action "updateEventType" eventType}}>{{eventType}}</button>
          {{/each}}
        </div>
      </div>
      {{#if (eq selectedEventType "scrimmage")}}
        <div class="field">
          <label>Teams</label>
          {{#each availableTeams as | availableTeam |}}
            <div class="ui container">
              {{ui-checkbox
                type="checkbox"
                label=availableTeam.name
                checked=availableTeam._isSelected
                disabled=availableTeam._isDisabled
                onChange=(action "updateEventTeams" availableTeam)
              }}
            </div>
          {{/each}}
        </div>
      {{/if}}
      <div class="field">
        {{!-- <div class="two fields"> --}}
        {{!-- <div class="ten wide field"> --}}
        <label>Date and time</label>
        {{ui-calendar
          date=startTime
          onChange=(action "updateStartTime")
          placeholder="Select date and time"
          parser=parser
        }}
        {{!-- </div> --}}
        {{!-- <div class="six wide field">
          <label>Duration</label>
          <div class="ui right labeled input">
            <input type="number"
              min="1"
              max="24"
              step="1"
              placeholder="Event duration"
              value={{duration}}
              oninput={{action "updateDuration"}}
            >
            <div class="ui basic label">
              hours
            </div>
          </div>
        </div> --}}
        {{!-- </div> --}}
      </div>
      <div class="field">
        <label>Name</label>
        <input type="text" name="event-name" placeholder="Event Name" value={{name}} oninput={{action "updateName"}}>
      </div>
      <div class="ui divider"></div>
      <div class="ui buttons fluid">
        <button class="ui button">Cancel</button>
        {{!-- <div class="or"></div> --}}
        <button class="ui primary button" type="submit" {{action "createEvent"}} disabled={{not canCreateEvent}}>Create</button>
      </div>
    </form>



  </div>
{{/ui-accordion}}
