<div class="ui fixed menu">
  {{#link-to "index" class="ui item small"}}
    <div class="ui tiny image">
      <img src="./assets/images/rose-city-logo.png" alt="logo" class="ui small image m-3">
    </div>
  {{/link-to}}
  {{#if header.event.name}}
    <h2 class="ui item selected-event">
      <i class="calendar alternate icon"></i>
      <div class="content">
        {{header.event.name}}
      </div>
    </h2>
  {{/if}}

  {{#if session.isAuthenticated}}
    <div class="right item hide-mobile">
      <button {{action "invalidateSession"}} class="ui right basic button">
        <i class="icon lock {{if session.user.isAdmin "open"}}"></i>
        Logout
      </button>
    </div>
  {{/if}}
  {{#if shouldShowHomeButton}}
    {{#link-to "index" class="ui right item home-button show-mobile"}}
      <div class="ui tiny image">
        <img src="./assets/icons/home.svg" alt="logo" class="ui small image">
      </div>
    {{/link-to}}
  {{/if}}
</div>
{{#if session.user.isAdmin}}
  <div class="ui fixed secondary white menu">
    <div class="item">
      <div class="ui buttons">
        {{#link-to
          "home.events"
          class=(if eventsRouteIsActive "ui blue button" "ui gray button")
        }}
          Events
        {{/link-to}}
        {{#if session.user.isAdmin}}
          {{#link-to
            "home.programs"
          class=(unless eventsRouteIsActive "ui blue button" "ui gray button")
          }}
            Teams
          {{/link-to}}
        {{/if}}
      </div>
    </div>
    {{bgr-breadcrumbs className="ui item big breadcrumb" itemClassName="section"}}
    <div class="right menu">
      <div class="item">
        {{download-report}}
      </div>
    </div>
  </div>
{{/if}}
{{rcr-notify}}

<div class="ui main container app-content rcr-app-content {{if session.user.isAdmin "has-secondary-nav"}}">
  {{outlet}}
</div>
